{% extends 'job_analyzer/base.html' %} {% load static %} {% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com"/>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
<link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
        rel="stylesheet"
/>
<link rel="stylesheet" href="{% static 'job_analyzer/dashboard.css' %}"/>

<div id="navi"><a href="{% url 'job_analyzer:main'%}">Ogłoszenia</a></div>
<div id="title_div"><h1>Dashboard</h1></div>
<div id="container">
    <div id="stats">
        <span>Liczba ofert: {{n_jobs}}</span>
        <span>Liczba oszustw: {{n_fake}}</span>
    </div>
    <div id="plots">
        <div class="row">
            <div class="column"><img src="{{priority_plot}}"></div>
            <div class="column"><img src="{{fake_plot}}"></div>
        </div>
        <div class="row">
            <div class="column">
                <p>Oszustwa</p>
                {% if fake_wordcloud %}
                <img src="{{fake_wordcloud}}">
                {% else %}
                <p>Brak danych</p>
                {% endif %}
            </div>
            <div class="column">
                <p>Prawdziwe oferty</p>
                {% if true_wordcloud %}
                <img src="{{true_wordcloud}}">
                {% else %}
                <p>Brak danych</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
