{% extends 'job_analyzer/base.html' %} {% load static %} {% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com"/>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
<link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
        rel="stylesheet"
/>
<link rel="stylesheet" href="{% static 'job_analyzer/dashboard.css' %}"/>


<div id="title_div"><h1>Dashboard</h1></div>
<div id="container">
<div id="stats">
    <p>Liczba ofert: {{n_jobs}}</p>
</div>
</div>
{% endblock content %}
