{% extends 'job_analyzer/base.html' %} {% load static %} {% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="{% static 'job_analyzer/jobs.css' %}" />
<div id="title_div"><h1>Ogłoszenia</h1></div>
<div id="filters">
  <form method="GET" action="">
    <label for="date_added_from">Filruj po dacie dodania:</label>
    <input type="date" id="date_added_from" name="date_added_from" />
    <span>to</span>
    <input type="date" id="date_added_to" name="date_added_to" />
    <br />
    <label for="priority_level">Filtruj po priorytecie:</label>
    <select id="priority_level" name="priority_level">
      <option value="">Wszystkie</option>
      <option value="Very Low">Bardzo niski</option>
      <option value="Low">Niski</option>
      <option value="Medium">Średni</option>
      <option value="High">Wysoki</option>
      <option value="Very High">Bardzo wysoki</option>
    </select>
    <br />
    <button type="submit">Zastosuj filtry</button>
  </form>
  <div class="statistics">
    <div class="statistics_wrapper">
      <div>Bardzo niski priorytet: {{ jobs_very_low}}</div>
      <div>Niski priorytet: {{ jobs_low }}</div>
      <div>Średni priorytet: {{ jobs_medium }}</div>
      <div>Wysoki priorytet: {{ jobs_high }}</div>
      <div>Bardzo wysoki priorytet: {{ jobs_very_high }}</div>
    </div>
  </div>
</div>
<div id="header_div">
  <div class="row_div">
    <div class="col_div">Tytuł</div>
    <div class="col_div">Zawartość</div>
    <div class="col_div">Data dodania</div>
    <div class="col_div">Strona źródłowa</div>
    <div class="col_div">Data założenia konta</div>
    <div class="col_div">Prawdopodobieństwo oszustwa</div>
    <div class="col_div">Priorytet</div>
    <div class="col_div">Czy oszustwo</div>
  </div>
</div>
<div id="jobs_div">
    {% for job in job_advertisements %}
    <div class="row_div">
        <div class="col_div"><p><a href="{% url 'job_analyzer:advertisement' job.id %}">{{ job.title }}</a></p></div>
        <div class="col_div" id="content"><p>{{ job.content }}</p></div>
        <div class="col_div"><p>{{ job.date_added }}</p></div>
        <div class="col_div"><p><a href="{{ job.source_page }}">{{job.source_page}}</a></p></div>
        <div class="col_div"><p>{{ job.date_of_account_creation }}</p></div>
        <div class="col_div"><p>{{ job.fake_probability }}</p></div>
        <div class="col_div"><p>{{ job.get_priority_level_display }}</p></div>
        {% comment %} <div class="col_div"><p>{{ job.is_fake }}</p></div> {% endcomment %}
        <div class="col_div">
          <p class="fake-status" data-job-id="{{ job.id }}" data-is-fake="{{ job.is_fake }}">
            {% if job.is_fake == True %}
              <span class="fake-label">Fake</span>
            {% elif job.is_fake == False %}
              <span class="fake-label">Real</span>
            {% endif %}
          </p>
        </div>
    </div>
  {% empty %}
  <div class="row_div">
    <div class="col_div">Empty</div>
  </div>
  {% endfor %}
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
  $('.fake-status').click(function() {
    var jobId = $(this).data('job-id');
    var isFake = $(this).data('is-fake');
    echo(jobId);
    echo(isFake);
    var newFakeStatus = !isFake; // Toggle the fake status

    $.ajax({
      url: 'update_fake_status/',
      type: 'POST',
      data: {
        job_id: jobId,
        is_fake: newFakeStatus
      },
      success: function() {
        // Update the UI with the new fake status
        if (newFakeStatus) {
          $(this).data('is-fake', True);
          $(this).find('.fake-label').tet('Fake');
        } else {
          $(this).data('is-fake', False);
          $(this).find('.fake-label').text('Real');
        }
        location.reload();
      },
      error: function(xhr, textStatus, errorThrown) {
        // Handle the error gracefully
        console.log('Error:', errorThrown);
      }
    });
  });
});
</script>

{% endblock content %}
