{% extends 'job_analyzer/base.html' %} {% load static %} {% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
  rel="stylesheet"
/>

<h1>Job Advertisements</h1>

<form method="GET" action="">
  <label for="date_added_from">Filter by Date Added:</label>
  <input type="date" id="date_added_from" name="date_added_from" />
  <span>to</span>
  <input type="date" id="date_added_to" name="date_added_to" />
  <label for="priority_level">Filter by Priority Level:</label>
  <select id="priority_level" name="priority_level">
    <option value="">All</option>
    <option value="1">Very Low</option>
    <option value="2">Low</option>
    <option value="3">Medium</option>
    <option value="4">High</option>
    <option value="5">Very High</option>
  </select>
  <button type="submit">Apply Filters</button>
</form>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Date Added</th>
      <th>Source Page</th>
      <th>Date of Account Creation</th>
      <th>Fake Probability</th>
      <th>Priority Level</th>
    </tr>
  </thead>
  <tbody>
    {% for job in job_advertisements %}
    <tr>
      <td>
        <a href="{% url 'job_analyzer:advertisement' job.id %}"
          >{{ job.title }}</a
        >
      </td>
      <td>{{ job.content }}</td>
      <td>{{ job.date_added }}</td>
      <td><a href="{{ job.source_page }}">{{job.source_page}}</a></td>
      <td>{{ job.date_of_account_creation }}</td>
      <td>{{ job.fake_probability }}</td>
      <td>{{ job.get_priority_level_display }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="7">No job advertisements found.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
