{% extends 'base/base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'base/main.css' %}"/>
<div class="wrapper">
    <div id="main_text">
        <h1>Aplikacja do analizy ogłoszeń</h1>
        <p>Aplikacja umożliwia ściągnięcie ogłoszeń z popularnych serwisów ogłoszeniowych. Ściągnięte ogłoszenia
            poddawane są analizie oraz sprawdzane pod kątem bycia oszustwem. Aplikacja oferuje także dashboard, który
            podsumowuje ogłoszenia znajdujące się w bazie.</p>
        <div id="main_a">
            <a href="{% url 'base:login' %}" class="btn btn-primary">Zaloguj się</a>
        </div>
    </div>
</div>
{% endblock content %}
