body {
    background-image: linear-gradient(50deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%);
    font-family: 'Lato', sans-serif;
}

#logo img {
    position: absolute;
    width: 25vh;
}


.wrapper {
    width: 80%;
    margin: auto;
    min-height: 85vh;
    height: auto;
    flex: 0 0 auto;
    position: absolute;
    top: 4%;
    left: 10%;
    border-radius: 0.5em;
}


