div{
    width: 100%;
    text-align: center;
}

#logo{
    text-align: left;
}



h1 {
    width: 90%;
    margin-top: 3%;
    padding: 3%;
    font-size: 4vh;
    color: white;
    overflow-wrap: break-word;
}

#title_div{
    background-color: rgb(2, 3, 129);
    text-align: center;
    border-radius: 1.1em;
}

#filters{
    width: 80%;
    text-align: center;
    border-radius: 1.1em;
    background-color: rgba(255, 105, 0, 1);
    padding: 1%;
    margin: auto;
}

#header_div{
    margin-top: 1%;
    background-color: rgb(2, 3, 129);
    border-top-left-radius: 1.1em;
    border-top-right-radius: 1.1em;
    font-weight: bold;

}

#header_div .row_div{
    color: white;
}

#jobs_div{
    overflow-y: scroll;
    max-height: 40vh;
    background-color: blanchedalmond;

}


.row_div {
    width: 100%;
    position: relative;
    border-bottom: black solid 1px;
    display: table;
    max-width: 100%;
}

.row_div:last-child {
    border-bottom: none;
}

.col_div {
    display: table-cell;
    width: 10%;
    vertical-align: middle;
    text-align: center;
    font-size: 2vh;
    max-width: 5vh;
    text-overflow: ellipsis;
    white-space: break-spaces;
    overflow: hidden;
    padding: 1%;
    max-height: 10vh;
}

.col_div p{
    overflow: hidden;
    text-overflow: clip;
    max-height: 10vh;

}

.col_div p:hover{
    overflow: hidden;
    text-overflow: clip;
    max-height: 100%;

}

#header_div .col_div{
    white-space: break-spaces;
    overflow: hidden;

}

#header_div .col_div{
    white-space: break-spaces;
    overflow: hidden;

}

#jobs_div .row_div:hover{
    background-color: burlywood;
}

#jobs_div .col_div:hover{
    overflow-wrap: break-word;
    overflow: visible;
}

#filters {
    display: flex;
    flex-direction: row;
}

#filters > form {
    flex: 2;
}

.statistics {
    flex: 1;
    background-color: #020381;
    color: white;
    padding: 0.5%;
    border-radius: 1.2em;
}

.statistics_wrapper {
    width: 80%;
    margin:auto;
    text-align: left;
}

.statistics_wrapper > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#filters label, #filters span{
    font-size: 2.5vh;
    font-weight: bold;
}

#filters input, #filters button, #filters select{
    font-size: 2.5vh;
    text-align: center;
    background-color: blanchedalmond;
    border-radius: 1.1em;
    border-color: orange;
}

#filters button{
    margin-top: 2%;
    background-color: rgb(2, 3, 129);
    color: white;
    border-color: black;
}

::-webkit-scrollbar {
  width: 0.8em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 1em;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(2, 3, 129);
  border-radius: 1em;
}

a{
    color:rgb(2, 3, 129);
}

a:visited{
  color:rgb(2, 3, 129);
}
